.u-section-1 .u-sheet-1 {
  min-height: 582px;
}

.u-section-1 .u-image-1 {
  width: 378px;
  height: 415px;
  margin: 46px auto 0 130px;
}

.u-section-1 .u-image-2 {
  width: 168px;
  height: 168px;
  margin: -223px 159px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Mitr;
  font-size: 1.875rem;
  margin: 78px 84px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Mitr;
  font-size: 2.25rem;
  margin: -52px auto 46px 84px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 373px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -181px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-family: Mitr;
  font-size: 3rem;
  margin: 136px auto;
}